.expo/
.expo-shared/
node_modules/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
dist/

# Environment
.env
.env.local
.env.production

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Testing
coverage/
.nyc_output
__snapshots__/

# Android
*.apk
*.aab
android/app/build/
android/.gradle/
android/app/google-services.json

# iOS
*.ipa
ios/Pods/
ios/*.xcworkspace
ios/*.xcuserdatastate
ios/GoogleService-Info.plist

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*
